/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* { margin:0; padding:0; }

.c { clear:both; }
.blank1 { width:100%; height:10px; overflow:hidden; }
.blank2 { width:100%; height:20px; }
.blank3 { width:100%; height:30px; }
.blank4 { width:100%; height:40px; }
.blank5 { width:100%; height:50px; }
.blank6 { width:100%; height:60px; } 

html, body { height: 100%; }
body {background-color:white; font:12px helvetica, arial, clean, sans-serif; *font-size:small; text-align:center; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
h1 { margin-bottom:1em; }
p { margin:1em 0; }
a { color:#00a; }
a:hover { color:black;}
a:visited { color:#a0a; }
table { font-size:inherit; font:100%; }

ul.posts { list-style-type:none; margin-bottom:2em;}
ul.posts li { line-height: 1.75em; }
ul.posts span { color:#aaa; font-family: Monaco, "Courier New", monospace; font-size:80%; }

.site { font-size:14px; text-align:justify; width:700px; margin:3em auto 2em auto; line-height:1.5em; }
.title { color:#a00; font-weight:bold; margin-bottom:2em; }
.site .title a { color:#a00; text-decoration:none; }
.site .title a:hover { color:black; }
.site .title a.extra { color:#aaa; text-decoration:none; margin-left:1em; }
.site .title a.extra:hover { color:black; }
.site .meta { color:#aaa; }
.site .footer { font-size:80%; color:#666; border-top:4px solid #eee; margin-top:2em; overflow:hidden; }
.site .footer .contact { float:left; margin-right:3em; }
.site .footer .contact a { color:#8085C1; }
.site .footer .rss { margin-top:1.1em; margin-right:-.2em; float:right; }
.site .footer .rss img { border: 0; }

#post {}
#post ul, #post ol { margin-left:1.35em; }
#post pre code { border:none; }
#post pre.terminal { padding:5px; margin:5px 0; background-color:#222; color:#fff; }
#post pre.terminal code { background-color:#222; }

#related { margin-top:2em; }
#related h2 { margin-bottom:1em; }


/* markdown */
blockquote { border:1px dotted #ccc; }
p.note { font-size:12px; background:#fbfdc7; border:1px solid #fcd021; color:#E90A0F; padding:5px; line-height:200%; }

