<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - 程序娃娃彭兵</title>
   <meta name="author" content="bing.peng" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <!-- syntax CSS -->
   <link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">bing.peng</a>
	<a class="extra" href="/">about</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
		<p>
			&copy; <a href="http://pengbing.me">pengbing.me</a>
		</p>
    </div>
  </div>
</div>

<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2627891" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F17d7e307ae6898157667c7143132b2a8' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
