---
layout: default
---
<div id="post">
{{ content }}
</div>

<div class="blank2 c"></div>

<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
	<a class="bds_tsina"></a>
	<a class="bds_qzone"></a>
	<a class="bds_hi"></a>
	<a class="bds_diandian"></a>
	<a class="bds_youdao"></a>
	<a class="bds_tqq"></a>
	<span class="bds_more"></span>
	<a class="shareCount"></a>
</div>
<!-- Baidu Button END -->

<div class="blank2 c"></div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:2 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
(function(){
var url = "http://widget.weibo.com/distribution/comments.php?width=0&url=auto&brandline=y&appkey=3658473319&dpc=1";
url = url.replace("url=auto", "url=" + document.URL); 
document.write('<iframe id="WBCommentFrame" src="' + url + '" scrolling="no" frameborder="0" style="width:100%"></iframe>');
})();
</script>
<script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/comment.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

<div class="blank2 c"></div>
